#header-img{
    height: 70px;
    width: 120px;
}

body {
    font-family: fantasy;
    line-height: 1.5;
  }
  ul{
      list-style: none;
  }
  #header {
    display: flex;
  }
  #nav-bar {
    position: fixed;
    top: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    overflow: hidden;
  }
  #container {
    max-width: 960px;
    margin: 2rem auto 0;
    overflow: hidden;
  }
  
  @media (min-width: 1200px) {
    body {
        background-color: rgb(224, 192, 192);
    }
  }
  
  .btn {
    display: inline-block;
    padding: 0.4rem 1.5rem;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #f1c40f;
  }
  
  .nav-link {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      font-weight: bold;
  }
  
  
  .message-box {
    margin: 1.5rem;
    padding: 0.8rem;
    text-align: center;
  }
  
  .message-box h1 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
  
  .message-box input {
    display: block;
    margin: auto;
    width: 30%;
    padding: 0.4rem;
    margin-bottom: 1rem;
  }
  
  #How-it-works {
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
  }
  
  #How-it-works.feature {
    display: flex;
    justify-self: center;
    align-items: center;
  }
  
  #How-it-works.feature  i{
    color: #7dcadd;
  }
  
  #How-it-works .feature div {
    padding: 1rem;
    margin-left: 3rem;
  }
  
  #How-it-works .feature div h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  #About-us {
    padding: 3rem;
    margin: auto;
    text-align: center;
  }
  
  #About-us #video {
    width: 600px;
    height: 340px;
  }
  
  #shop {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 0.2rem;
  }
  
  .price-box {
    border: solid #333 3px;
    border-radius: 2px;
    text-align: center;
  }
  
  .price-box:first-child {
    margin-right: 1.2rem;
  }
  
  .price-box:last-child {
    margin-left: 1.2rem;
  }
  
  .price-box h3 {
    background-color: #ddd;
    font-size: 1.05rem;
    padding: 1rem;
  }
  
  .price-box h2 {
    padding: 1rem;
  }
  
  .price-box p {
    padding: 0 4rem 1rem;
  }
  
  .price-box .btn {
    display: inline-block;
    margin: 1rem;
  }
  
  /* FOOTER */
  #main-footer {
    background-color: brown;
    padding: 1rem 4rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  
  #main-footer div a {
    color: white;
    padding: 0.5rem 1rem;
  }
  
  #fcs {
    text-decoration: underline;
    color: white;
  }
  .a{
    
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
      
  }
  #video{
      margin: 150px;
    
  }
  .my-name{
      color: white;
  }
  .my-names{
    color: white;
}
  
 